:root
{
   --warm-sun : #ffde4a;
   --gold : #f9a118;
   --dark :#1E2121;
   --blue:#3d7fc7;
   --AngularBlue:#1976d3;
   --green:#61bc68;
   --red:#ef0005;
   --nocol:transparent;
   --white:#ffffff;
}

@font-face {
    font-family: "Argo";
    src: url(../fonts/ArgoFlats.ttf);
}

@font-face {
    font-family: "ArgoOld";
    src: url(../fonts/ArgoOld.ttf);
}

@font-face {
    font-family: "CL";
    src: url(../fonts/ChampagneLimousines.ttf);
}


@font-face {
    font-family: "M500";
    src: url('../fonts/Museo500.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Mohave";
    src: url('../fonts/Mohave.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MohaveBold";
    src: url('../fonts/Mohave-Bold.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MohaveSemiBold";
    src: url('../fonts/Mohave-SemiBold.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face
{
    font-family:"Flat";
    src: url("../fonts/Flatform_Light.otf") format("opentype");
}

nav
{
    background-color: var(--gold)!important;
}
#sidenav-overlay
{
    z-index: 1!important;
}


.l-height-40
{
    line-height: 40px!important;;
}

.showMore {
    font-size: 14px;
    cursor: pointer;
  }
  .showMore + input {
   display:none;
  }
  .showMore + input + * {
   
    max-height: 0;
    /*and eventually delay an overflow:auto; */
    overflow:hidden;
    transition: max-height 0.75s, overflow 0s;
  }
  .showMore + input:checked + * { 
    /* here comes the compromise, set a max-height that would for your usual contents*/
    max-height: 50em;
    overflow:hidden;
    transition: max-height 0.75s, overflow 0.75s 0.75s;
  }

#cf {
    /*  height: 58vh; */
    /* margin: 0 auto; */
    width: 98%!important;
    /* max-width: 668px; */
    overflow: hidden;
    min-height: 38vh;
    height: 100%;
    transform: translate(0%,-97%);
    position: absolute;
}

  
  #cf img
  {
      top:0;
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    overflow: hidden;
  }
  
  @keyframes cf4FadeInOut {
    0% {
      opacity:1;
    }
    17% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  

  #cf img:nth-of-type(1) {
    animation-delay: 6s;
  }
  #cf img:nth-of-type(2) {
    animation-delay: 4s;
  }
  #cf img:nth-of-type(3) {
    animation-delay: 2s;
  }
  /*#cf img:nth-of-type(4) {
    animation-delay: 0;
  }
  */
  #cf img {
    animation-name: cf4FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 8s;
  }


  #imageback{
    filter: opacity(0%);
  }
body
{
    /*background: linear-gradient( #ff6e74,#bfe9ff); /* Standard syntax */
    /*background: linear-gradient( #ffb88c,#de6262); /* Standard syntax */
   /* background: linear-gradient(var(--warm-sun),#1E2121); /* Standard syntax */
    background: linear-gradient(#FBFABB,#FBFABB,#25ac8a, #00467f); /* Standard syntax */
    font-family: "Flat", Times, serif;
    font-size: 10px;
}


h1,h2,h3,h4,h5,h6
{
    font-family: "MohaveBold", Times, serif;
    cursor: default;
    user-select: none;
}
p
{
    cursor: default;
    user-select: none;
}

#canvas {
    width: 100%;
    height:  90%;
}

.pos-rel
{
    position: relative;
}

.pos-abs-top
{
    position: absolute;
   bottom: 0;
    width: 100%;
}

.pos-abs-bottom
{
    position: absolute;
   bottom: 0;
    width: 100%;
    height:5%;
    left: 0;
}

.content-display
{
    display: inline-grid;
}

.content-flex
{
    display: -webkit-box;
}

.content-display-grid
{
    display: grid!important;
}

.social-twit-col
{
    background-color:  #56ABEE;
}

.social-linked-col
{
    background-color:  #097BB4;
}

.social-git-col
{
    background-color:  #464646;
}

.f-c-blue
{
    color:var(--blue);
}
.f-c-gold
{
    color: #f9a118;
}

.f-c-black
{
    color: #403232!important;
}


.f-c-white
{
    color: #ffffff!important;
}

.f-c-o
{
    color: #FF8966!important;
}

.blue
{
    background-color:var(--blue)!important;
}

.red
{
    background-color: var(--red)!important;
}

.ultra-red-theme:hover
{
    background-color:#0043c3;
}

.ultra-gray
{
    background-color:#333333;
}

.ultra-red-theme
{
    color:#ccc;
    background-color:#e50011;
}

.ultra-red-theme:visited
{ 
    background-color:#e50011;
}

.angularBlue
{
    background-color: var(--AngularBlue);
}

.white
{
    background-color: #ffffff;
}
.green
{
    background-color: var(--green)!important;
}

.cream
{
    background-color: #eaeaea;
}
.yellow
{
    background-color: #fdd835;
}

.dark
{
    background-color: #1E2121;
}

.no-color
{
    background-color: var(--nocol);
}

.border-b
{
    border-bottom: 1px solid #ffffff;
}
html
{
    line-height: 1.0;
}


.cursor-select
{
    cursor: pointer;
}

.c
{
    display: table;
    margin: 0 auto;
}

.z-ind-2
{
    z-index: 2;
}

.z-ind--2
{
    z-index: -2;
}

.neg-margin-top-31
{
    margin-top: -31px;
}

.t-r-0
{
    bottom: 0;
    right: 0;
}

.abs
{
    position: absolute;
}

.header-h-60
{
    height: 60px;
}

.flex-grow-1
{
    flex-grow: 1!important;
}
.display-flex

{
    display: flex;
}

.img-splash-unity
{
    width: 150px;
}

.img-clamp-200
{
    width: 200%;
}

.img-clamp-100
{
    width: 100%;
}

.img-clamp-pro
{
    max-width: 850px;
    max-height: 720px;
}

.img-clamp-pro_2
{
    max-width: 370px;
    max-height: 625px;
}

.img-clamp-pro_3
{
    max-width: 450px;
    max-height: 625px;
}

.img-clamp-pro_4
{
    max-width: 330px;
    max-height: 625px;
}

.img-clamp-pro_5
{
    max-width: 970px;
}

.img-clamp-pro_3
{
    max-width: 700px;
    max-height: 625px;
}

.img-clamp
{
    max-width: 288px;
    max-height: 215px;
    min-width: 288px;
    min-height: 215px;
}


.img-blur-overide
{
  height: 432px;
  /* top: 120%; */
  margin-top: 6px;
  margin-bottom: 50px;
  background: hsla(0, 0%, 80%, -4);
  width: 78%;
}

.trans-5-10
{
    transform: translate(5px,10px);
}

.img-pixelated
{
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
.width-clamp-auto
{
    width: auto;
}

.width-clamp-95
{
    width: 95%!important;
}
.min-600 
{
    min-width: 590px;
    /* max-width: 697px; */
}

.min-max-600 
{
    min-height: 600px;
    max-height: 600px;
    height: 600px;
}
.width-clamp-100
{
    width: 100%!important;
}

.min-max-600
{
    min-height: 600px;
    max-height: 600px;
}

.max-700
{
    max-height: 700px;
}

.width-clamp-800
{
    max-width: 800px;
}

.height-clamp-60
{
    width: 60%;
}


.height-clamp-85vh
{
    height: 710px !important;
}


.min-h-5
{
    min-height: 5px!important;
}

.float-l
{
    float: left;
}

.float-r
{
    float: right;
}
.splash-argo-f
{
    font-family: "Argo", Times, serif;
    font-size: 85px;
}

.border-rounded
{
    background-color:var(--blue);
    border: 2px var(--blue);
    border-radius: 15px;
    display: inline-block;
}
.back-drop-blur
{
background-color: #FFFFFF;
margin: 0 auto;
margin-top: 30px;
padding: 10px;
padding-bottom: 20px;
border-radius: 5px;
}

.back-drop-blur:after
{
    opacity: 0.7;
    filter: blur(1px);
    -moz-filter: blur(1px);
    -webkit-filter: blur(1px);
    -o-filter: blur(1px);
}

.auto-min-h
{
    min-height: auto!important;
}

.position-b
{
    height: 35vh;
}

.exclude-h
{
    height: 900px!important;
}
.splash-background
{
    background: url("../img/Creative_Engineering2.JPG")0 / cover fixed;
    filter: grayscale(35%);
    background-repeat: no-repeat;
    background-size: 225vh;
    background-position-x: -100px;
}


.p-m-20
{
    padding: 20px 0px;
}

.p-m-10
{
    padding: 10px 0px;

}


.d-grid
{
    display: grid;
}

.main
{
    float: right;
    width: 70%!important;   
    font-size: 18px
}
.m-sides-10
{
    margin: 0 10px;
}

.m-sides-5
{
    margin: 0 5px;
}

.m-t-45
{
    margin-top:  45px;
}

.m-t-b-25
{
    margin-top: 25px;
    margin-bottom: 25px;
}

.m-r-0
{
    margin-right: 0px;
}


.m-b-100
{
    margin-bottom: 100px;
}

.m-b-10
{
    margin-bottom: 10px;
}


.m-t-130
{
    margin-top: 130px
}

.m-t-75
{
    margin-top: 75px;
}

.m-t-20
{
    margin-top: 20px;
}

.margin-b-15
{
    margin-bottom: 15px!important;
}

.m-t-10
{
    margin-top: 20px;
}

.m-b-45
{
    margin-bottom: 45px;
}

.m-t-22_5
{
    margin-top: 22.5px;
}

.m-t-l-15
{
    margin-top: 15px;
    margin-left: 15px;
}

.m-l-25
{
    margin-left: 25px;
}

.m-1
{
    margin: 1px!important;
}

.m-neg-15
{
    margin: -15px
}

.b-r-50
{
    border-radius: 50px;
}

.b-r-15
{
    border-radius: 15px;
}


.b-r-10
{
    border-radius: 10px;
}

.side
{
    display: inline;
}

.width-clamp 
{
    max-width: 80%!important;
}

.width-clamp-73
{
    width: 73%;
}

.width-clamp-85
{
    width: 85%;
    max-width: 85%;
}

.width-95
{
    width: 95%;
}

.max-w-550
{
    max-width: 550px;
}

.border-rad-20
{
    border-radius: 20px;
}

.padding-r-l-5
{
    padding: 0px 5px;
}


.padding-r-l-5
{
    padding: 0px 5px;
}

.padding-1
{
    padding: 1px!Important;
}

.padding-15
{
    padding: 15px;
}

.padding-10
{
    padding: 10px;
}

.padding-5
{
    padding: 5px;
}

.padding-6
{
    padding: 6px!important;
}
.padding-20
{
    padding: 20px;
}

.padding-t-b-10
{
    padding-bottom: 10px;
    padding-top: 10px;
}

.padding-0
{
    padding: 30px 0px 0px 0px!important
}

.padding-t-b-5
{
    padding: 5px 0px;
}
.no-pad
{
    padding: 0px!important;
}
.custom-min-h
{
    min-height: 322px;
}

.width-100
{
    width: 100px!important;
}

.card-overide
{
    padding:5px!important;
    max-height: 260px;
    min-height: 260px;
}


.card-p
{
    background-color: var(--blue);
    border: 2px #ff8a65;
    border-radius: 4px;
    display: inline-block;
    padding: 3px;
    margin: 3px!important;
    font-size: 17px;
    color: var(--white);
}



  .carousel.carousel-slider .carousel-item 
  {
    width: 100%;
    height: 96%;
    min-height: 400px;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel .indicators
{
    bottom: 30px!important;
}

img.size
{
    max-width: 200px;
}

.h-100vh
{
    /*height: 100vh; */
    height: 100%;
}

.h-overwrite-500
{
    height: 600px!important;
}

.t-align-c
{
    text-align: center;
}

.t-align-r
{
    text-align: right;
}

.t-align-l
{
    text-align: left;
}

.margin-a
{
    margin: auto;
}

.m-t-7
{
    margin-top: 7px;
}

.m-t-20
{
    margin-top: 20px;
}

.m-t-15
{
    margin-top: 15px;
}

.m-t-neg-5
{
    margin-top: -5px;
}

.m-t-64
{
    margin-top: 64px;
}


.m-r-40
{
    margin-right: 40px;
}

.m-l-a
{
    margin-left: auto!important;
}

.no-b-margin
{
    margin-bottom: 0px;
}

.no-l-margin
{
    margin-left: 0px!important;
}

.neg-b-margin-13
{
    margin-bottom: -13px;
}

.no-padding-t-b
{
    padding-top: 0;
    padding-bottom: 0;
}

.pad-t-20
{
    padding-top: 25px;
}

.tabs
{
    height: auto;
}

.tabs .tab
{
    line-height: 52px!important;
    height: 41px;
}

.font-size
{
    font-size: 25px;
}

.font-Upper
{
    text-transform: uppercase;
}

.ul-grid
{
    height: 73px;
}

.tabs .indicator
{
    height: 9px !important;
    background-color:#5E6953 !important;
    left: 336px;
    bottom: -3px;
}


.h-banner
{
    padding: 6px;
    margin-bottom: -1px;
    margin-left: 20px;
    margin-top: 9px;
}

.h-banner-row
{
    padding: 5px;
    margin-top: 0px;
    margin-left: 5px;
    margin-bottom: 0px;
}

.orange
{
    background-color: #ff8a65!Important;
}

.peach
{
    background-color:#ff7266!Important;
}

.warm-sun
{
    background-color:#e6bd61!Important
}


.gray
{
    background-color: #90a4ae;
}

.trans
{
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(2px);
}

.not-visible
{
    display: none;
}

.i-abs-left
{
    position: absolute;
    top: 135vh;
    z-index: 20000;
    pointer-events: none;
}
.i-abs-right
{
    position: absolute;
    top: 135vh;
    left: auto;
    right: 0%;
    z-index: 20000;
    pointer-events: none;
}

.i-size
{
    font-size: 50px!important;
}

.footer-body {
    display: flex;
    min-height: 5vh;
    flex-direction: column;
  }

.footer-main 
{
    flex: 1 0 auto;
}

.f-size-17
{
    font-size: 17px;
}

.centre
{
    margin: auto;
    text-align: center;
}

.btn-block
{
    float: left;
    display: block;
}

.absolute
{
    position: absolute;
}

.fixed
{
    position: fixed;
    right: 0%;
    top: auto;
    z-index: 100;
}

.defualt
{
    cursor: default;
    user-select: none;
}
.w-90
{
    width: 90%;
}

.w-70
{
    width: 70%!important;
    max-width: 550px;
}

.w-100
{
    width: 100%!important;
}
.z-100
{
    z-index: 100;
}
.w-95-h-92
{
    width: 95%!important;
    height: 92%!important;
}
.w-96-h-93
{
    width: 97%!important;
    height: 95%!important;
}

.wh-85
{
    width: 81%;
    height: 83%;
}


.l-5
{
    left: 5%;
}



.float-l
{
    float:left;
}

.modal {
    width: 90%!important;
    max-height: 100%!important;
}

.clickable {
    cursor: pointer;
}

.v-modal-width
{
    width: 85%!important;
    max-width: 500px;
}

.v-modal-width-2
{
    width: 85%!important;
    max-width: 450px!important;
}


.model-width-clamp-795
{
    max-width: 795px;
}

.row-no-pad
{
    padding: 0px 0px !important;
}

.btn-1em-pad
{
    padding: 0 1rem  !important;
}
.carousel .indicators .indicator-item
{
    background-color: var(--warm-sun)!important;
}
.carousel .indicators .indicator-item.active
{
    background-color:  var(--red)!important;
}

.form-border
{
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: var(--blue);
}

.grid
{
    display: grid;
}

.or-padding
{
    padding: 13px 0px 4px 0px;
}

.modal .modal-content
{
    padding: 0px !important;
}

.z-depth-4, .modal
{
    box-shadow:0 8px 10px 1px transparent, 
    0 3px 14px 2px transparent, 
    0 5px 5px -3px transparent !important;

    padding: 0px;
    overflow: hidden;
}

.close-transform
{
    transform: translate(-30px,-20px);
}

@media (max-width: 600px)
{
    .exclude-h
    {
        height: 650px!important;
    }
    h4
    {
            font-size: 1.68rem;
            line-height: 110%;
    }
    .w-70
    {
        width: 95%!important; 
    }
    nav i
    {
        /* text-align: right!important; */
    }
    #cf
    {
        margin: 0 auto;
        width: 96%!important;
        min-height: auto;
        height: 100%;
        transform: translate(0%,-95%);
        position: absolute;
    }

    .carousel .indicators
    {
        bottom: 20px!important
    }
    .min-600
    {
        min-width: auto;
        max-width: 609px;
    }

    .img-clamp-pro_4
    {
        max-width: 232px;
    }

    .img-clamp-pro_2
    {
        max-width: 260px;
    }
    .padding-20
    {
        padding: 0px;
    }

    .content-flex
    {
        display: inline;
    }


    .max-h-400
    {
        min-height: auto!important;
        max-height: 400px;
        height: 400px;
    }


    .width-clamp-73
    {
        width:100%;
    }

    .row .col.s5,
    .row .col.s7
    {
        width: auto;
        float: none;
    }
    .btn, .btn-large, .btn-flat
    {
        padding: 0px 1rem;
    }
    .button-text-margin
    {
        margin-top: 15px
    }
    .btn-display
    {
        height: 300px;
        display: grid;
    }

    .a-height
    {
        height: 60%;
        margin: auto;
    }

    .height-clamp-85vh
    {
        height: 525px!important;
    }
    .m-b-7
    {
        margin-bottom: 0px!important
    }
    

    .col.s12
    {
        height: 100%;
    }

    .grid-mode
    {
        display: grid;
        width: 100%;
    }

    .main,
    .side
    {
        float: none;
    }

    .tabs.tabs-transparent .indicator
    {
        display: none;
    }

    .h-banner-row h2
    {
    text-align: center!important;
    }

    .h-banner
    {
        overflow-x: hidden;
        overflow-y: hidden;
        
    }
    .tabs .tab
    {
        height: 46px;
        line-height: 58px!important;
        padding-top: 0px;
    }

    .ul-grid
    {
        text-align: center!important;
        overflow-x: hidden;
        height: 255px;
    }
    .neg-margin-top-31
    {
        margin-top: -31px;
    }

    .main
    {
        display: inline;
        text-align: center;
        width:75%;
    }

    .position-b 
    {
        height: 22vh;
    }

    .img-splash-unity {
        width: 100px;
        transform: translate(0,50px);
    }

    .splash-argo-f
    {
        font-size: 3em;
    }

    .mobile-w-70
    {
        width:70%;
    }
}


@media (max-width: 830px)
{
    .col.s12
    {
        height: 100%;
    }

    .main,
    .side
    {
        float: none;
    }

    .main
    {
        display: inline;
        text-align: center;
        width:75%;
    }
}


@media only screen and (min-width: 992px)
{
    .pos-abs-bottom

    {
        height: 8%;
    }
}
