/* --------------------------------------------------------------------------------------------------*/ 
/* --------------------------------------------------------------------------------------------------*/ 

.Splash-Back 
{
    background: url("../img/Creative_Engineering2.JPG") 0 / cover fixed;
    background-position: center;
    filter: grayscale(7%);
  }

.Splash-blur-back::before 
{
    background: url("../img/Creative_Engineering2.JPG") 0 / cover fixed;
    background-position: center;
    filter: grayscale(27%);
  }

.Splash-blur-back 
{
  margin: 30px auto;
  position: relative;
  padding: 22px;
  background: hsla(0, 0%, 100%, 0.03);
  /* font-size: 20px; */
  /* font-family: 'Lora', serif; */
  line-height: 1.5;
  width: 97%;
  overflow: hidden;
  border-radius: 121px;
  color: ivory;
  font-weight: 900;
  font-size: 18px;
}


.Splash-blur-back::before {
  content: '';
  margin: -35px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(20px);
  z-index: -1;
}

/* --------------------------------------------------------------------------------------------------*/ 
/* --------------------------------------------------------------------------------------------------*/ 


/* --------------------------------------------------------------------------------------------------*/ 
/* --------------------------------------------------------------------------------------------------*/ 
.D67-Logo
{
    background-image: url(../img/Dimension67_Logo.png);
    background-repeat: no-repeat;
    filter: saturate(87%);
    background-size: 42vh;
    background-position-x: 13px;
    background-position-y: 8px;
    height: 156px;
    width: 99%;
    max-width: 400px;
    min-width: 200px;
    top: 70%;
    z-index: 3;
    top: 0%;
    image-rendering: pixelated;
    
}



.D-67-Mascot
{
    background-image: url(../img/D-67-Mascot.png);
    background-repeat: no-repeat;
    filter: saturate(87%);
    background-size: 50vh;
    /* background-position-x: 460px; */
    /* background-position-y: 78px; */
    height: 493px;
    position: fixed;
    right: 0%;
    left: 49%;
    width: 101%;
    top: 29%;
    image-rendering: pixelated;
    /* z-index: 3; */
    /* top: 0%; */
}

.D67-Back 
{
    background: url("../img/Dimension67_Background.png") 0 / cover fixed;
    background-position: center;
    filter: grayscale(7%);
    min-height: 600px;
    max-height: 600px;
  }

.D67-blur-back::before 
{
    background: url("../img/Dimension67_Background.png") 0 / cover fixed;
    background-position: center;
  }

.D67-blur-back 
{
  margin: 30px auto;
  position: relative;
  padding: 22px;
  background: hsla(0, 0%, 100%, 0.2);
  /* font-size: 20px; */
  /* font-family: 'Lora', serif; */
  line-height: 1.5;
  width: 97%;
  overflow: hidden;
  border-radius: 5px;
  color: ivory;
  font-weight: 900;
  font-size: 18px;
}


.D67-blur-back::before {
  content: '';
  margin: -35px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(20px);
  z-index: -1;
}

/* --------------------------------------------------------------------------------------------------*/ 
/* --------------------------------------------------------------------------------------------------*/ 



/* --------------------------------------------------------------------------------------------------*/ 
/* --------------------------------------------------------------------------------------------------*/ 
.Ang-Logo
{
  background-image: url(../img/angular.png);
  background-repeat: no-repeat;
  filter: saturate(87%);
  background-size: 240px;
  background-position-x: -2px;
  background-position-y: -30px;
  height: 200px;
  width: 100%;
  max-width: 396px;
  min-width: 180px;
  top: 70%;
  z-index: 3;
  top: 0%;
}

.Ang-Back 
{
  background: url("../img/angular2.png") 0 / cover fixed;
    background-position: center;
    filter: grayscale(7%);
    min-height: 600px;
    max-height: 600px;
  }

.Ang-blur-back::before 
{
  background: url("../img/angular2.png") 0 / cover fixed;
    background-position: center;
  }

.Ang-blur-back 
{
  margin: 30px auto;
  position: relative;
  padding: 22px;
  background: hsla(0, 0%, 100%, 0.2);
  /* font-size: 20px; */
  /* font-family: 'Lora', serif; */
  line-height: 1.5;
  width: 97%;
  overflow: hidden;
  border-radius: 5px;
  color: ivory;
  font-weight: 900;
  font-size: 18px;
}


.Ang-blur-back::before {
  content: '';
  margin: -35px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(20px);
  z-index: -1;
}

/* --------------------------------------------------------------------------------------------------*/ 
/* --------------------------------------------------------------------------------------------------*/ 
.MVGP-Logo
{
    background-image: url(../img/logo_aspmvc345.png);
    background-repeat: no-repeat;
    filter: saturate(87%);
    background-size: 40vh;
    background-position-x: 13px;
    background-position-y: 8px;
    height: 175px;
    width: 99%;
    max-width: 400px;
    min-width: 200px;
    top: 70%;
    z-index: 3;
    top: 0%;   
}

.MVGP-Back 
{
    background: url("../img/large.png") 0 / cover fixed;
    background-position: center;
    filter: grayscale(7%);
    min-height: 600px;
    max-height: 600px;
  }

.MVGP-blur-back::before 
{
    background: url("../img/large.png") 0 / cover fixed;
    background-position: center;
  }

.MVGP-blur-back 
{
  margin: 30px auto;
  position: relative;
  padding: 22px;
  background: hsla(0, 0%, 100%, 0.2);
  /* font-size: 20px; */
  /* font-family: 'Lora', serif; */
  line-height: 1.5;
  width: 97%;
  overflow: hidden;
  border-radius: 5px;
  color: ivory;
  font-weight: 900;
  font-size: 18px;
}


.MVGP-blur-back::before {
  content: '';
  margin: -35px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(20px);
  z-index: -1;
}

/* --------------------------------------------------------------------------------------------------*/ 
/* --------------------------------------------------------------------------------------------------*/ 
.Engine-Logo
{
    background-image: url(../img/Iota_Logo.png);
    background-repeat: no-repeat;
    filter: saturate(87%);
    background-size: 42vh;
    background-position-x: 13px;
    background-position-y: 8px;
    height: 265px;
    width: 99%;
    max-width: 400px;
    min-width: 200px;
    top: 70%;
    z-index: 3;
    top: 0%;   
}

.Engine-Back 
{
    background: url("../img/gamengine.JPG") 0 / cover fixed;
    background-position: center;
    filter: grayscale(7%);
    min-height: 600px;
    max-height: 600px;
  }

.Engine-blur-back::before 
{
    background: url("../img/gamengine.JPG") 0 / cover fixed;
    background-position: center;
  }

.Engine-blur-back 
{
  margin: 30px auto;
  position: relative;
  padding: 22px;
  background: hsla(0, 0%, 100%, 0.2);
  /* font-size: 20px; */
  /* font-family: 'Lora', serif; */
  line-height: 1.5;
  width: 97%;
  overflow: hidden;
  border-radius: 5px;
  color: ivory;
  font-weight: 900;
  font-size: 18px;
}


.Engine-blur-back::before {
  content: '';
  margin: -35px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(20px);
  z-index: -1;
}

/* --------------------------------------------------------------------------------------------------*/ 


.ultra-gods-Logo
{
    background-image: url(../img/UltraGods_Logo2.png);
    background-repeat: no-repeat;
    filter: saturate(87%);
    background-size: 100%;
    /* background-position-x: 13px; */
    /* background-position-y: -3px; */
    height: 130px;
    width: 99%;
    max-width: 400px;
    min-width: 200px;
    top: 70%;
    z-index: 3;
    top: 0%;
    
}

.ultra-gods-Mascot
{
    background-image: url(../img/UG_Mascot.png);
    background-repeat: no-repeat;
    filter: saturate(87%);
    background-size: 41vh;
    /* background-position-x: 460px; */
    /* background-position-y: 78px; */
    height: 493px;
    position: fixed;
    right: 0%;
    left: 49%;
    width: 101%;
    top: 10%;
    /* z-index: 3; */
    /* top: 0%; */
}

.UG-Back {
    background: url("../img/UltraGods.png") 0 / cover fixed;
    background-position: center;
    filter: grayscale(7%);
    min-height: 600px;
    max-height: 600px;
  }

.blur-back::before {
    background: url("../img/UltraGods.png") 0 / cover fixed;
    background-position: center;
  }
  
  .blur-back {
    margin: 30px auto;
    position: relative;
    padding: 22px;
    background: hsla(0, 0%, 100%, 0.2);
    /* font-size: 20px; */
    /* font-family: 'Lora', serif; */
    line-height: 1.5;
    width: 97%;
    overflow: hidden;
    border-radius: 5px;
    color: ivory;
    font-weight: 900;
    font-size: 18px;
  }
  
  .blur-back::before {
    content: '';
    margin: -35px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(20px);
    z-index: -1;
  }

  
  .ultra-gods-Mascot
  {
      background-image: url(../img/UG_Mascot.png);
      background-repeat: no-repeat;
      filter: saturate(87%);
      background-size: 41vh;
      /* background-position-x: 460px; */
      /* background-position-y: 78px; */
      height: 493px;
      position: fixed;
      right: 0%;
      left: 49%;
      width: 101%;
      top: 10%;
      /* z-index: 3; */
      /* top: 0%; */
  }
 /* --------------------------------------------------------------------------------------------------*/ 
 /* --------------------------------------------------------------------------------------------------*/ 
  
 .LO-Logo
 {
     background-image: url(../img/LO_Logo.png);
     background-repeat: no-repeat;
     filter: saturate(87%);
     background-size: 100%;
     /* background-position-x: 13px; */
     /* background-position-y: -3px; */
     height: 119px;
     width: 99%;
     max-width: 400px;
     min-width: 200px;
     top: 70%;
     z-index: 3;
     top: 0%;
     
 }
 
 .LO-Mascot
 {
     background-image: url(../img/UG_Mascot.png);
     background-repeat: no-repeat;
     filter: saturate(87%);
     background-size: 41vh;
     /* background-position-x: 460px; */
     /* background-position-y: 78px; */
     height: 493px;
     position: fixed;
     right: 0%;
     left: 49%;
     width: 101%;
     top: 10%;
     /* z-index: 3; */
     /* top: 0%; */
 }

 
 
    .LO-Back {
      background: url("../img/teneb_orig.png") 0 / cover fixed;
      background-position: center;
      filter: grayscale(7%);
      min-height: 600px;
      max-height: 600px;
    }
  
   .LO-blur-back::before {
      background: url("../img/teneb_orig.png") 0 / cover fixed;
      background-position: center;
    }
    
    .LO-blur-back {
      margin: 30px auto;
      position: relative;
      padding: 22px;
      background: hsla(0, 0%, 100%, 0.2);
      /* font-size: 20px; */
      /* font-family: 'Lora', serif; */
      line-height: 1.5;
      width: 97%;
      overflow: hidden;
      border-radius: 5px;
      color: ivory;
      font-weight: 900;
      font-size: 18px;
    }
    
    .LO-blur-back::before {
      content: '';
      margin: -35px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      filter: blur(10px);
      z-index: -1;
    }
    
  /* --------------------------------------------------------------------------------------------------*/ 
  /* --------------------------------------------------------------------------------------------------*/ 

  /* --------------------------------------------------------------------------------------------------*/ 
 /* --------------------------------------------------------------------------------------------------*/ 
  
 .GP-Logo
 {
     background-image: url(../img/Calm_Logo.png);
     background-repeat: no-repeat;
     filter: saturate(87%);
     background-size: 100%;
     /* background-position-x: 13px; */
     /* background-position-y: -3px; */
     height: 146px;
     width: 99%;
     max-width: 325px;
     min-width: 200px;
     top: 70%;
     z-index: 3;
     top: 0%; 
     margin-top: -31px;
 }
 
 .GP-Mascot
 {
     background-image: url(../img/UG_Mascot.png);
     background-repeat: no-repeat;
     filter: saturate(87%);
     background-size: 41vh;
     /* background-position-x: 460px; */
     /* background-position-y: 78px; */
     height: 493px;
     position: fixed;
     right: 0%;
     left: 49%;
     width: 101%;
     top: 10%;
     /* z-index: 3; */
     /* top: 0%; */
 }

 
 
    .GP-Back {
      background: url("../img/Calm.png") 0 / cover fixed;
      background-position: center;
      filter: grayscale(7%);
      min-height: 600px;
      max-height: 600px;
    }
  
   .GP-blur-back::before {
      background: url("../img/Calm.png") 0 / cover fixed;
      background-position: center;
      filter: grayscale(7%);
    }
    
    .GP-blur-back {
      margin: 30px auto;
      position: relative;
      padding: 22px;
      background: hsla(0, 0%, 100%, 0.2);
      /* font-size: 20px; */
      /* font-family: 'Lora', serif; */
      line-height: 1.5;
      width: 97%;
      overflow: hidden;
      border-radius: 5px;
      color: ivory;
      font-weight: 900;
      font-size: 18px;
    }
    
    .GP-blur-back::before {
      content: '';
      margin: -35px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      filter: blur(20px);
      z-index: -1;
    }
    
  /* --------------------------------------------------------------------------------------------------*/ 
  /* --------------------------------------------------------------------------------------------------*/ 

    /* --------------------------------------------------------------------------------------------------*/ 
 /* --------------------------------------------------------------------------------------------------*/ 
  
 .M-Logo
 {
     background-image: url(../img/mamaro_logo.png);
     background-repeat: no-repeat;
     filter: saturate(87%);
     background-size: 100%;
     /* background-position-x: 13px; */
     /* background-position-y: -3px; */
     height: 146px;
     width: 99%;
     max-width: 400px;
     min-width: 200px;
     top: 70%;
     z-index: 3;
     top: 0%;
     
 }
 
 .M-Mascot
 {
     background-image: url(../img/UG_Mascot.png);
     background-repeat: no-repeat;
     filter: saturate(87%);
     background-size: 41vh;
     /* background-position-x: 460px; */
     /* background-position-y: 78px; */
     height: 493px;
     position: fixed;
     right: 0%;
     left: 49%;
     width: 101%;
     top: 10%;
     /* z-index: 3; */
     /* top: 0%; */
 }

 
 
    .M-Back {
      background: url("../img/mamaro_BackGround.png") 0 / cover fixed;
      background-position: center;
      filter: grayscale(7%);
      min-height: 600px;
      max-height: 600px;
    }
  
   .M-blur-back::before {
      background: url("../img/mamaro_BackGround.png") 0 / cover fixed;
      background-position: center;
      filter: grayscale(7%);
    }
    
    .M-blur-back {
      margin: 30px auto;
      position: relative;
      padding: 22px;
      background: hsla(0, 0%, 100%, 0.2);
      /* font-size: 20px; */
      /* font-family: 'Lora', serif; */
      line-height: 1.5;
      width: 97%;
      overflow: hidden;
      border-radius: 5px;
      color: ivory;
      font-weight: 900;
      font-size: 18px;
    }
    
    .M-blur-back::before {
      content: '';
      margin: -35px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      filter: blur(20px);
      z-index: -1;
    }
    
  /* --------------------------------------------------------------------------------------------------*/ 
  /* --------------------------------------------------------------------------------------------------*/ 

  
    /* --------------------------------------------------------------------------------------------------*/ 
 /* --------------------------------------------------------------------------------------------------*/ 
  
 .SPP-Logo
 {
     background-image: url(../img/Super_Princess_Peach_logo.png);
     background-repeat: no-repeat;
     filter: saturate(87%);
     background-size: 80%;
     /* background-position-x: 13px; */
     /* background-position-y: -3px; */
     height: 150px;
     width: 99%;
     max-width: 400px;
     min-width: 200px;
     top: 70%;
     z-index: 3;
     top: 0%;
 }
 
 .SPP-Mascot
 {
     background-image: url(../img/UG_Mascot.png);
     background-repeat: no-repeat;
     filter: saturate(87%);
     background-size: 41vh;
     /* background-position-x: 460px; */
     /* background-position-y: 78px; */
     height: 493px;
     position: fixed;
     right: 0%;
     left: 49%;
     width: 101%;
     top: 10%;
     /* z-index: 3; */
     /* top: 0%; */
 }

 
 
    .SPP-Back {
      background: url("../img/SPP_Background.png") 0 / cover fixed;
      background-position: center;
      filter: grayscale(7%);
      min-height: 600px;
      max-height: 600px;
    }
  
   .SPP-blur-back::before {
      background: url("../img/SPP_Background.png") 0 / cover fixed;
      background-position: center;
      filter: grayscale(7%);
    }
    
    .SPP-blur-back {
      margin: 30px auto;
      position: relative;
      padding: 22px;
      background: hsla(0, 0%, 100%, 0.2);
      /* font-size: 20px; */
      /* font-family: 'Lora', serif; */
      line-height: 1.5;
      width: 97%;
      overflow: hidden;
      border-radius: 5px;
      color: ivory;
      font-weight: 900;
      font-size: 18px;
    }
    
    .SPP-blur-back::before {
      content: '';
      margin: -35px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      filter: blur(20px);
      z-index: -1;
    }
    
  /* --------------------------------------------------------------------------------------------------*/ 
  /* --------------------------------------------------------------------------------------------------*/ 

  /* --------------------------------------------------------------------------------------------------*/ 
/* --------------------------------------------------------------------------------------------------*/ 

.LTR-Logo
{
    background-image: url(../img/LTR_logo.png);
    background-repeat: no-repeat;
    filter: saturate(87%);
    background-size: 100%;
    /* background-position-x: 13px; */
    /* background-position-y: -3px; */
    height: 146px;
    width: 99%;
    max-width: 700px;
    min-width: 200px;
    top: 70%;
    z-index: 3;
    top: 0%;
    
}


   .LTR-Back {
     background: url("../img/Art_05.JPG") 0 / cover fixed;
     background-position: center;
     filter: grayscale(7%);
     min-height: 600px;
     max-height: 600px;
   }
 
  .LTR-blur-back::before {
     background: url("../img/Art_05.JPG") 0 / cover fixed;
     background-position: center;
     filter: grayscale(7%);
   }
   
   .LTR-blur-back {
     margin: 30px auto;
     position: relative;
     padding: 22px;
     background: hsla(0, 0%, 100%, 0.2);
     /* font-size: 20px; */
     /* font-family: 'Lora', serif; */
     line-height: 1.5;
     width: 97%;
     overflow: hidden;
     border-radius: 5px;
     color: ivory;
     font-weight: 900;
     font-size: 18px;
   }
   
   .LTR-blur-back::before {
     content: '';
     margin: -35px;
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     filter: blur(20px);
     z-index: -1;
   }

/* --------------------------------------------------------------------------------------------------*/ 
/* --------------------------------------------------------------------------------------------------*/ 

  
  
    /* --------------------------------------------------------------------------------------------------*/ 
 /* --------------------------------------------------------------------------------------------------*/ 
  
 .P-Logo
 {
  background-image: url("../img/Pinch_logo.png");
  background-repeat: no-repeat;
  filter: saturate(87%);
  background-size: 100%;
  /* background-position-x: 13px; */
  /* background-position-y: -3px; */
  height: 146px;
  width: 99%;
  max-width: 320px;
  min-width: 200px;
  top: 70%;
  z-index: 3;
  top: 0%;
 }
 
 .P-Mascot
 {
     background-image: url("../img/UG_Mascot.png");
     background-repeat: no-repeat;
     filter: saturate(87%);
     background-size: 41vh;
     /* background-position-x: 460px; */
     /* background-position-y: 78px; */
     height: 493px;
     position: fixed;
     right: 0%;
     left: 49%;
     width: 101%;
     top: 10%;
     /* z-index: 3; */
     /* top: 0%; */
 }

 
 
    .P-Back {
      background: url("../img/Pinch_background.png") 0 / cover fixed;
      background-position: center;
      filter: grayscale(7%);
      min-height: 600px;
      max-height: 600px;
    }
  
   .P-blur-back::before {
      background: url("../img/Pinch_background.png") 0 / cover fixed;
      background-position: center;
      filter: grayscale(7%);
    }
    
    .P-blur-back {
      margin: 30px auto;
      position: relative;
      padding: 22px;
      background: hsla(0, 0%, 100%, 0.2);
      /* font-size: 20px; */
      /* font-family: 'Lora', serif; */
      line-height: 1.5;
      width: 97%;
      overflow: hidden;
      border-radius: 5px;
      color: ivory;
      font-weight: 900;
      font-size: 18px;
    }
    
    .P-blur-back::before {
      content: '';
      margin: -35px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      filter: blur(20px);
      z-index: -1;
    }
    
  /* --------------------------------------------------------------------------------------------------*/ 
  /* --------------------------------------------------------------------------------------------------*/ 

  .A-Beach
  {
    background: url(../img/beach_cg.jpg);
    background-repeat: no-repeat;
    filter: saturate(87%);
    background-size: 100%;
    /* background-position-x: 13px; */
    /* background-position-y: -3px; */
    height: 444px;
    /* width: 99%; */
    /* max-width: 822px; */
    min-width: 200px;
    top: 70%;
    z-index: 3;
    top: 0%;
  }

  /* --------------------------------------------------------------------------------------------------*/ 
  /* --------------------------------------------------------------------------------------------------*/ 
  .gallery {
    display: inline-table;
    flex-wrap: wrap;
    padding-top: 0px;
  }
  
  .gallery a {
    display: inline-block;
    margin-bottom: -8px;
    width: calc(50% - 4px);
    overflow: hidden;
    max-width: 26%;
    max-height: 152px;

  }
  
.v-align-a {
 vertical-align: initial;
  }
.img-transform
{
  transform: translate(-50%,0);
}

  .gallery a:nth-of-type(2n) {
   
  }

  figure {
    margin: 1em 0px;
}

@media (max-width: 600px)
{
.gallery  a {
  max-height: 90px;
}
.header-h-60 {
  height: 25px;
}

.Engine-Logo
{
  background-size: 26vh;
  height: 165px;
}

.Engine-blur-back
{
  margin: 10px auto;
  position: relative;
  padding: 5px;
  background: hsla(0, 0%, 100%, 0.2);
  line-height: 1.2;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  color: ivory;
  font-weight: 900;
  font-size: 16px;
}


.MVGP-Logo
{
  background-position-x: -2px;
  background-position-y: -16px;
  background-size: 285px;
  height: 175px;
}
.MVGP-blur-back
{
  margin: 10px auto;
  position: relative;
  padding: 5px;
  background: hsla(0, 0%, 100%, 0.2);
  line-height: 1.2;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  color: ivory;
  font-weight: 900;
  font-size: 16px;
}

.Ang-Logo
{
  background-position-x: -2px;
  background-position-y: -16px;
  background-size: 200px;
  height: 175px;
}
.Ang-blur-back
{
  margin: 10px auto;
  position: relative;
  padding: 5px;
  background: hsla(0, 0%, 100%, 0.2);
  line-height: 1.2;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  color: ivory;
  font-weight: 900;
  font-size: 16px;
}


.Ang-Logo
{
  background-position-x: -2px;
  background-position-y: -16px;
  background-size: 200px;
  height: 175px;
}
.Ang-blur-back
{
  margin: 10px auto;
  position: relative;
  padding: 5px;
  background: hsla(0, 0%, 100%, 0.2);
  line-height: 1.2;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  color: ivory;
  font-weight: 900;
  font-size: 16px;
}

.LO-blur-back
{
  margin: 10px auto;
  position: relative;
  padding: 5px;
  background: hsla(0, 0%, 100%, 0.2);
  line-height: 1.2;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  color: ivory;
  font-weight: 900;
  font-size: 16px;
}
  

.Splash-blur-back
{
  border-radius: 70px;
}

.LTR-blur-back
{
  margin: 10px auto;
  position: relative;
  padding: 5px;
  background: hsla(0, 0%, 100%, 0.2);
  line-height: 1.2;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  color: ivory;
  font-weight: 900;
  font-size: 16px;
}

.D67-Logo{
  background-size: 35vh;
}
.P-Logo
{
  background-size: 85%;
}
.D67-blur-back 
{
  margin: 10px auto;
  position: relative;
  padding: 5px;
  background: hsla(0, 0%, 100%, 0.2);
  line-height: 1.2;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  color: ivory;
  font-weight: 900;
  font-size: 16px;
}

.blur-back {
  margin: 10px auto;
  position: relative;
  padding: 5px;
  background: hsla(0, 0%, 100%, 0.2);
  line-height: 1.2;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  color: ivory;
  font-weight: 900;
  font-size: 16px;
}

    
.GP-blur-back {
  margin: 10px auto;
  position: relative;
  padding: 5px;
  background: hsla(0, 0%, 100%, 0.2);
  line-height: 1.2;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  color: ivory;
  font-weight: 900;
  font-size: 16px;
}

.M-blur-back {
  margin: 10px auto;
  position: relative;
  padding: 5px;
  background: hsla(0, 0%, 100%, 0.2);
  line-height: 1.2;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  color: ivory;
  font-weight: 900;
  font-size: 16px;
}

.SPP-blur-back {
  margin: 10px auto;
  position: relative;
  padding: 5px;
  background: hsla(0, 0%, 100%, 0.2);
  line-height: 1.2;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  color: ivory;
  font-weight: 900;
  font-size: 16px;
}

.P-blur-back {
  margin: 10px auto;
  position: relative;
  padding: 5px;
  background: hsla(0, 0%, 100%, 0.2);
  line-height: 1.2;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  color: ivory;
  font-weight: 900;
  font-size: 16px;
}

}

  @media screen and (min-width: 50em) {
  
  
    .gallery  a:nth-of-type(4n) {
      margin-right: 0;
    }
  }